name: Trigger auto deployment for sector-analysis

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/sector-analysis-AutoDeployTrigger-2a59a7cc-fb7d-4a6e-8485-a0a9affbfe7f.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.SECTORANALYSIS_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.SECTORANALYSIS_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.SECTORANALYSIS_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: ghcr.io
          registryUsername: ${{ secrets.SECTORANALYSIS_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.SECTORANALYSIS_REGISTRY_PASSWORD }}
          containerAppName: sector-analysis
          resourceGroup: marketmind
          imageToBuild: ghcr.io/sector-analysis:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


